* {
    padding: 0;
    margin: 0;
}

.enter-field, .btn {
    font-family: 'PT Mono', monospace;
}

.main-content {
    display: flex;

    flex-direction: column;
    justify-content: space-between;

    position: absolute;
    width: 100%;
    height: 100%;

    background-image: linear-gradient(to right top, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
}

#by-tymino {
    padding: 0 20px 10px 0;
    align-self: flex-end;

    color: rgb(195, 210, 211);
    text-shadow: 2px 1px 1px rgb(10, 10, 10);
}
.enter-field {
    height: 30px;
    text-align: right;
    font-size: 2.5em;
    font-weight: 700;
    padding: 15px 10px 8px 10px;

    grid-column: 1 / span 4;

    background-color: rgba(174, 186, 191, 0.5);
    color: black;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;

    width: 260px;
    height: 350px;

    padding: 5px;
    margin: 10% auto 0 auto;

    background-color: rgba(115, 126, 128, 0.3);
    border: 3px solid rgba(172, 190, 191, 1);
}
.btn {
    font-size: 2em;

    background-color: rgba(172, 190, 191, 0.4);
    border: 2px solid rgba(172, 190, 191, 1);
}
.btn:hover {
    background-color: rgba(195, 210, 211, 0.4);
    border: 3px solid rgb(195, 210, 211);
}
#btn-zero {
    grid-row: 6 / span 1;
    grid-column: 1 / span 2;
}
#btn-equal {
    grid-row: 5 / span 2;
    grid-column: 4 / span 1;
}